.faq-container {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-top: 2px solid var(--color-neutral-200);

    &:last-child { border-bottom: 2px solid var(--color-neutral-200); }

    &:hover h4, &:hover path {
        color: var(--color-secondary-400);
        stroke: var(--color-secondary-400);
        cursor: pointer;
    }
}
.faq-container div:nth-child(2) {
    max-height: 320px;
    overflow: hidden;
    & p {margin-top: 2rem;}
    transition: all 600ms ease;
}

.faq-head {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}
.faq-head h4 {
    @media screen and (max-width: 700px) {
        font-size: calc(var(--fs-normal) * 0.6);
        line-height: 2.5ch;
    }
}
.faq-head svg {
    transition: transform 600ms ease;
}


.faq-paragraph {
    max-height: 0 !important;
}
.faq-arrow {
    transform: rotate(180deg);
}



