header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

nav {
    display: inline-flex;
    align-items: center;
    gap: 2rem;
}

ul {
    display: inline-flex;
    align-items: center;
    gap: 2rem;
}

.header-link {
    text-decoration: none;
    transition: color 250ms ease-out;

    &:hover { color: var(--color-secondary-400); }
}