.bookmark {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

}

.manager {
    flex-direction: row-reverse;
    @media screen and (max-width: 700px) {
        text-align: center;
        flex-direction: column;
    }
}

.tabs {
    flex-direction: row;
    @media screen and (max-width: 700px) {
        text-align: center;
        flex-direction: column;
    }
}

.image {
    display: block;
    max-width: 100%;
    width: 50%;

    @media screen and (max-width: 700px) {
        width: 100%;
    }
}

.article-container {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.article-container div {
    display: inline-flex;
    gap: 1rem;
    @media screen and (max-width: 700px) {
        justify-content: center;
    }
}

.animate {
    animation: appear-from-left 800ms ease-out;
}

@keyframes appear-from-left {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;

    }
}